* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h2, h3, h4 {
  font-family: 'Dancing Script';
  font-weight: bolder;
}

section {
  text-align: center;
  padding: 50px;
  vertical-align: middle;
  height: 100vh;
  max-height: auto;
  justify-content: center;
  flex-wrap: wrap;

}

h3 {
  font-size: 50px;
  margin: 25px;
  font-weight: bold;
}

#main-nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: transparent;
  z-index: 10;
  background-color: rgba(0, 0, 0);
}

#main-nav ul{
  padding-top: 5px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

.nav-item a {
  text-decoration: none;
  padding: 0 10px;
  margin: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-item a:hover {
  background: rgb(77, 78, 78);
  padding: 0 10px;
  transition-duration: 0.4s;
}

input:focus,
textarea:focus {
  outline: none;
}

#main-nav label,
#main-nav input {
  display: none;
}

h1,
h2{
  text-align: center;
  color: white;
  display: block;
}

h1 {
  font-size: 55px;
}
h2{
  font-size: 50px;
}

hr {
  background-color: dimgray;
  height: 5px;
  width: 60%;
}
#header{
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(../img/background-top.png) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  top: 0;
 position: absolute;
 top: 20px;
 left: 20px;
  margin-top: 20px;
}
#logo img{
  max-width: 150px;
  max-height: 150px;
  margin: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#about-text,
#about-foto {
  flex-basis: 50%;

}

#about-text p{
  padding: 10px;
  text-align: left;
  font-size: 22px;
}

#about-foto {
  margin: 0;
  padding: 0;
}
#about-foto img {
  width: 250px;
  border: 5px solid rgb(133, 132, 134);
  border-radius: 5px;
}

h4 {
  font-size: 30px;
  margin:0;
}

.social-media i{
  height: 50px;
  width: 50px;
  line-height: 50px;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  align-self: center;
  font-size: 36px;
  margin: 1%;
}

.social-media i:hover{
  transform: rotate(360deg);
  transition-duration: 1.5s;
  background-color:  white;
  color: black;
}

.serv-info{
  width: 33%;
  margin-top: 40px;
}

#skills {
  background-color: rgb(213, 216, 220);
}

#skills figure {
  width: 100px;
  margin: 2% 5%;
  font-size: 20px;
  font-weight: bold;
  color: rgba(81, 90, 90);
}

#skills figure:hover {
color: blue;
}

#skills figure img:hover {
  transform:rotateY(360deg);
  transition-duration: 1.6s;
  transition-delay: 0.1s;
  color: green;
}
/* skills - stop */
/* portfolio-start */
.portfolio-inner{
  flex-basis: 33.33%;
  padding: 25px;
  height: auto;
}

.portfolio-inner img {
  max-width: 100%;
}

.background {
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 300px;
}

.b1 {
  background-image: url(../img/projekty/projekt1.png);
}
.b2 {
  background-image: url(../img/projekty/projekt2.png);
}
.b3 {
  background-image: url(../img/projekty/projekt3.png);
}

.mask {
  height: 100%;
  background-color: rgba(174, 214, 241, 0.8);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  overflow: hidden;
  transition: all 0.4s;
}
.mask:hover{
  opacity: 1;
}
.mask.fas{
  align-self: center;
  background-color: transparent;
}

.border {
  border: 1px solid grey;
  height: 90%;
  width: 90%;
  padding: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
}
#portfolio a{
  text-decoration: none;
}

#portfolio i{
  width: 50px;
  height:50px;
  line-height: 50px;
  color:white;
  font-size: 25px;
  border: none;
  background-color: rgba(93, 109, 126);
  border: 1px solid rgb(93, 109, 126);
  border-radius: 50%;
  text-align: center;
  align-self: center;
  opacity: 0.5;
}

.portfolio-info{
  margin: 0;
  padding: 0;
  font-size: 12px;
}

/* portfolio - stop */

/* contact - start */
#contact {
  background-image: linear-gradient(45deg, rgba(229, 231, 233 ) 42%, transparent 70%, transparent 75%, rgba(229, 231, 233 ) 36%, rgba(229, 231, 233 )), linear-gradient(136deg, #bdbdbd 50%, transparent 100%, transparent 100%, #bdbdbd 20%, #bdbdbd), linear-gradient(360deg, rgba(204, 209, 209) 50%, transparent 50%, transparent 80%, rgba(204, 209, 209) 84%, rgba(204, 209, 209));
  background-size: 50px 50px;
}

#contact-text,
form {
  flex-basis: 50%;
}

#contact-text {
  font-size: 30px;
  padding: 5%;
  align-self: center;
}


#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  margin: 2%;
  padding: 10px;
  border: 1px solid darkgrey;
  border-bottom: 1px solid black;
}

#contact textarea {
  height: 150px;
}
input[type="submit"] {
  color:white;
  font-weight: bolder;
  border: 1px solid #fff;
  font-size: 17px;
  background-color: black;
  width: 150px;
  height: 50px;
  margin: 10px 0;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 6px rgba(133, 146, 158);
}

input[type="submit"]:active {
  box-shadow: 0 3px rgba(133, 146, 158);
  transform: translateY(3px);
}


input[type="submit"]:hover {
  background-color: darkgray;
  color: black;
  border:1px solid black;
}

footer {
  text-align: center;
  font-size: 12px;
  background: rgba(171, 178, 185);

}
footer p {
  margin: 0;
  padding: 0;
}

